<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops</title>
    <link rel="stylesheet" href="/stylesheets/loginerror.css">
</head>
<body>
    <h1>Wrong email or password</h1>
    <a href="/auth/login">Try Login again</a>
</body>
</html>