<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Users</title>
    <link rel="stylesheet" href="/stylesheets/users.css">
</head>

<body>
    <header class="site-header">
        <a href="/" class="site-logo">Home</a>
    </header>
    <h1>Our Users</h1>
    <p style="text-align: center;">We have <%=users.length %> users</p>
    <ul>
        <% users.forEach(u=> { %>
            <li>
                <%= u.firstname %>
                <%= u.lastname %>
            </li>
            <% }) %>
    </ul>

</body>

</html>